/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/*   /-------------********Main Stuff*******---------/
*/

    html {
      box-sizing: border-box;
    }
    *, *:before, *:after {
      box-sizing: inherit;
    }

body{
      font-family: 'Roboto', sans-serif;
}
h1 , h2 , h3 , h4 ,h5,{
    font-family: 'Oswald', sans-serif;
   font-weight: 300;
}   
nav{
    background-color: #B4FFFA;
    color: black;
    font-size: 1.1rem;
    
}
h1{
    font-size: 1.5rem;
    margin-left: 10px;
}
h2{
    margin-left: 10px;
}
p{
 line-height: 120%;
}
footer{
    background-color: #B4FFFA;
    font-size: 10px;
}
footer p{
    font-size: .7rem;
}
h2{
     font-size: .7rem;
     color: #B8B8B8;
}
footer a{
    color: black;
    background-color: #11FAEC;
    font-size: .9rem;
}
h4{
    margin-left: 10px;
}
.footerfoot{
    background-color: #11FAEC;
    padding: 1px;
    line-height: 5px;
}

.logo img{
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/********INDEX PAGE*******/

.frontpage p {
    margin: 10px;
}
.frontpage h1{
    color: #FFBE5F;
}
.slider {
        width: 100%;
        margin: 0 auto;
    }

    .slick-slide {
      /*margin: 0px 20px;*/
    }

    .slick-slide img {
      width: 100%;
    }

    .slick-prev:before,
    .slick-next:before {
      color: white;
    }


    .slick-slide {
      transition: all ease-in-out .3s;
      opacity: .2;
    }
    
    .slick-active {
      opacity: .5;
    }
    .social{
        font-size: 1.5rem;
    }

}

/* /-------------********About Page*******---------/
*/
.intro p {
    text-indent: 5%;
    padding: 5px;
}

.intro{
    background: #FFBE5F;
    border-radius: 25px;
    padding: 10px;
    font-size: 15px;
    margin-right: 50px;
    margin-left: 10px;
}
.review{
    background-color: #FCDC4C;
    border-radius: 25px;
    padding: 20px;
    margin-left: 50px;
    font-size: 15px;`
    margin-right: 10px;
}

.review img{
    width: 50%;
    float:right;
    padding-left: 10px;

}
.reviewtwo img{
    width: 60%;
    float:  left;
    padding-right: 10px;
}

.reviewtwo{
    background-color: #C781F6;
    border-radius: 25px;
    padding: 20px;
    margin-right: 50px;
    font-size: 15px;
    margin-left: 10px;
}




/********************PROFILE PAGE***************
*/
h5{
    font-size: 2rem;
    padding: 1px;
    margin: 0px;
}
.certfication h4{
    font-size: 2rem;
}
.certification{
    margin-left: 10px;
}
.catone , .cattwo , .dogone , .dogtwo{
    padding-left: 10px;
    padding: 10px;
    border-radius: 10%;
    margin-left: 5px;
    margin-right: 5px;

}

.catone img , .cattwo img , .dogone img , .dogtwo img{
    width: 35%;
    float: right;
    padding-right: 2px;
    padding-top: 2px;
    margin-top: 30px;
    margin-left: 10px;
}

.catone{
    background-color: #FFBE5F;
}


.cattwo{
    background-color: #C781F6;
}
 .dogone{
    background-color: #FCDC4C;
 }
 .dogtwo{
    background-color: #B4FFFA;
 }


/*
****************CONTACT US PAGE***************/

.first{
    float: left;
    width: 50%;
}
.last{
    float: left;
    width: 50%;
}
.address{
    float: left;
    width:50%;
    
}
.number{
    float: left;
    width:50%;
}
.mail{
    float: left;
    width:50%;
}
.city{
    float:left;
    width: 50%;

}
.gender{
    float: left;
    width:50%;
    margin-bottom: 10px;
}
.age{
    float:left;
    width:50%;
}

.volunteer{
    background:  #C781F6; 
    padding: 20px;
    border-radius: 10%;
    overflow: auto;
    margin-top: 10px;
    margin: 15px;
}
.volunteer h6{
    margin-top: 5px;
}
.doginfo p {
    font-size: 1rem;
}
.doginfo h6 , .volunteer h6{
    font-size: 1rem;
    margin: 5px;
}
.button{
    margin-left: 350px;
    margin-bottom: 10px;
    background-color: #C781F6;
    border: none;
    color: black;
    padding: 10px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

iframe{
    width: 100%;
}
.visit h5, p{
    margin-left: 10px;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */

 body{
    max-width: 35em;
 }




}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
